<h1>Welcome, <%= @user.username %>!</h1>

<p>Please select an option from the list.</p>

<ul>
    <li><%= link_to "Your Shows", user_shows_path(@user) %></li>
    <li>Add a New Show</li>
    <li>Your Reviews</li>
    <%# <l1><li><%= link_to "Add a new show", new_user_show_path %>
</ul>