<ul>
    <li><%= link_to "Your Shows", user_shows_path(@user) %></li>
    <li><%= link_to "Your Reviews", reviews_path %></li>
</ul>

<h1>Your 5-Star Reviews</h1>

<ul>

</ul>
</br>
</br>
</br>
<h1>These Shows Have Not Been Rated</h1>